<div class="container">
  <div class="heading">
    <h1 class="title">2048</h1>
  </div>
  <p class="game-intro">Join the numbers and get to the <strong>2048 tile!</strong></p>

  <game-container game-user="true"></game-container>
  <game-container ng-repeat="foo in [1,2,3,4]"></game-container>

  <p class="game-explanation">
    <strong class="important">How to play:</strong> Use your <strong>arrow keys</strong> to move the tiles. When two tiles with the same number touch, they <strong>merge into one!</strong>
  </p>
  <hr>
  <p>
    Based on 2048 by <a href="http://gabrielecirulli.com" target="_blank">Gabriele Cirulli.</a> 
  </p>
</div>
